@charset "utf-8";
/* ====================== FIM CONFIGURAÇÃO UNICODE ===================== */

/* ========================= FONTES IMPORTADAS ========================= */
@import url('https://fonts.googleapis.com/css2? family= Allura & family= Aref+Ruqaa+Ink:wght@400;700 & family= Cookie & family= Roboto:wght@300; 400;700 & display=swap');
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:200,200italic,300,300italic,regular,italic,600,600italic,700,700italic,900);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
/* ======================= FIM FONTES IMPORTADAS ======================= */


/* ======================= CONFIGURAÇÕES GLOBAIS ======================= */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    line-height: 1.5em;
}
/* ===================== FIM CONFIGURAÇÕES GLOBAIS ===================== */


/* =============================== BODY ================================ */
body {
    width: 100vw;
    overflow-x: hidden;
}
/* ============================= FIM BODY ============================== */


/* =============================== ROOT ================================ */
:root {
    /* Variáveis da cor azul */
    --azure: #E8F1F3;
    --carolina_blue: #1C9CD7;
    --celadon_blue: #247BA0;
    --sapphire_blue: #014990;
    --prussian_blue: #002F5B;
    --índigo_blue: #001030;
    --space: #010b1c;
    /* Variável da cor vermelha */
    --medium_red: #A20202;
    --vermelho: #ff0000;
    --tomate: #FF814D;
    --laranja: #ff5900;
    /* Variáveis da cor verde */
    --verde-azulado: #009a9f;
    --verde: #30EA66;
    --amarelo: #FCBF02;
    --cinza-clarinho: #F8F8F8;
    --azul-claro: #6E93f7;
    --azul-claro2: #4070F4;
    --winter: #A1E1F6;
    /* Variável da cor cinza */
    --cinza: #424242;
    --cinza-claro: #F2F2F2;
    --cinza-medio: #A9A9A9;
    --cinza-dark: #333333;
    --cinza-escuro: #171717;
    /* Variáveis das fontes */
    --Roboto: 'Roboto', sans-serif;
    --Allura: 'Allura', sans-serif;
    --Titillium: 'Titillium Web';
    --Poppins: 'Poppins';
}
/* ============================= FIM ROOT ============================== */


/* ============================= CONTATO =============================== */
.contato {
    width: 100%;
    margin: 0 auto;
    height: 50vh;
}
.contato-parallax{
    display: flex;
    height: 50vh ;
    width: 100%;
    position: relative;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background-image: url('../img/contact us.png');
    background-position: 50% 50% ;
    background-repeat: no-repeat;
    background-attachment: fixed; /* cria o efeito parallax */
    background-size: cover;
    -webkit-background-size:cover ; /* para ser funcional em outros navegadores */
    -moz-background-size: cover;
    -a-background-size:cover;
}
.contato-parallax::before {
    content:"";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 0;
    background: rgba(51,51,51,.6);
}
.texto-contato{
    z-index: 2;
    position: absolute;
    top: 50%;
}
.texto-contato h1{
    font: 400 50px var(--Poppins);
    color: white; 
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.397);
}
/* =========================== FIM CONTATO ============================= */


/* ========================= FLEX FORMULÁRIO =========================== */
.flex-formulario{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    position: relative;
    margin: 4vw 0;
}
.formulario{
    width: 500px;
    padding: 30px;
    height: 500px;
    align-items: center;
    display: flex; box-shadow: 1px 1px 15px 4px rgba(146, 145, 145, 0.127);
}
form{
    width: 100%;
    height: auto; position: relative;
    border-radius: 1em;
}   
.formulario-titulo{
    text-align: center;
}
.formulario-titulo h2{
    font: 400 30px var(--Roboto); color: var(--space); margin-bottom: 20px;
}
.formulario-titulo p{
    font: 300 15px var(--Roboto);
}
hr{
    margin: 20px 0; border: 0; height: 1px; border-top: 1px solid var(--cinza-medio);
}
.info.main{
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "first second"
                         "third fourth"
                         "fifth fifth";
    grid-gap: 20px;
}
.flex-info.first{
    grid-area: first;
}
.flex-info.second{
    grid-area: second;
}
.flex-info.third{
    grid-area: third;
}
.flex-info.fourth{
    grid-area: fourth;
}
.flex-info.fifth{
    grid-area: fifth;
}
label{
    display: block;
    text-align: left;
    font: 400 14px var(--Roboto);
}
label span{
    color: var(--vermelho);
}
select, input{
    width: 100%;
}
select, input, textarea{
    font: 300 14px var(--Roboto);  
    text-align: justify;
    margin-top: 5px; padding: 5px 0;
    background-color: var(--cinza-clarinho);
    border: 1px solid var(--cinza-medio);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.127);
    text-indent: 1em; line-height: 1.5em;
}
select{
    color: var(--space); 
    outline: x solid var(--cinza-medio);
}
select option{
    font: 300 14px var(--Roboto); 
}
input::placeholder{
    color: var(--cinza-medio);
}
textarea{
    vertical-align: top; 
    /* Para permitir aos usuários redimensionarem qualquer textarea verticalmente. Ele não funciona em todos os browsers */
    resize: none; width: 100%;
}
input:focus, textarea:focus{
    outline: 1px solid var(--cinza-medio);
}
.button-submit-reset{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 30px;   
    gap: 20px; 
}
.button-submit-reset .submit{
    padding: 10px 55px; border: 1px solid transparent; background-color: var(--space); color: white; transition: .3s ease-in-out; font: 400 16px var(--Roboto);
}
.button-submit-reset .submit:hover{
    border: 1px solid var(--space); color: var(--space); background-color: transparent;
}
.button-reset{
    background-color: var(--laranja); padding: 10px 20px; border: 1px solid transparent; font: 400 16px var(--Roboto); color: white; transition: .3s ease-in-out;
}
.button-reset:hover{
    color: var(--laranja); background-color: transparent;
    border: 1px solid var(--laranja);
}
.flex-localizacao{
    width: 500px; height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
iframe{
    width: 500px;
    height: 300px;
}
input[type=number]::-webkit-inner-spin-button { 
    all: unset;  /* Remove as setas do input */
}
.informacao-empresa{
    margin: 20px 0; text-decoration: none; 
}
.informacao-empresa div + div{
    margin-top: 20px;
}
.empresa i{
    color: var(--laranja); margin-right: 20px;
}
.empresa span{
    font: 500 17px var(--Roboto); color: var(--space);
}
.empresa p{
    font: 300 14px var(--Roboto); color: var(--space); margin-top: 10px; line-height: 1.5em;
}
/* ======================= FIM FLEX FORMULÁRIO ========================= */


/* ================== MEDIA QUERY (MAX-WIDTH: 600px) =================== */
@media screen and (max-width: 600px) {
    .contato, .contato-parallax{
        height: 40vh;
    }
    .contato-parallax{
        background-position: 90% 50%
    }
    .texto-contato h1{
        font-size: 35px;
    }
    .flex-formulario{
        padding: 40px 0;
    }
    .formulario {
        width: 100%; box-shadow: none;
        margin-top: 40px;
    }
    .info.main {
        grid-template-columns: 1fr;
        grid-template-areas: "first"
                             "second"
                             "third"
                             "fourth"
                             "fifth";
    }
    .flex-info {
        width: 100%;
    }
    .flex-localizacao{
        padding-top: 40px;
    }
    .flex-localizacao iframe{
        width: 100vw; padding-bottom: 20px;
    }
    .flex-localizacao .informacao-empresa{
        margin: 20px 40px;
    }    
}
/* ================ FIM MEDIA QUERY (MAX-WIDTH: 600px) ================= */


/* ===================================================================== */
/* ======================== FORMULÁRIO ENVIADO ========================= */
section.formulario-enviado{
    width: 100vw;
    height: auto;
    display: flex; align-items: center;
}
section.formulario-enviado .message{
    margin: 120px auto; padding: 0 20px; display: flex; flex-wrap: wrap; 
    align-items: center; 
    justify-content: center; gap: 30px;
}
section.formulario-enviado .icone-enviado{
    display: flex; justify-content: center;
}
section.formulario-enviado .message .icone-enviado i{
    padding: 20px; font-size: 100px; color: var(--space);
    border: 1px solid transparent; border-radius: 50%; box-shadow: 0 0  20px rgba(68, 0, 255, 0.096);
}
section.formulario-enviado .texto-enviado{
    text-align: center;
}
section.formulario-enviado .texto-enviado span{
    font: 500 40px var(--Roboto); color: var(--space);
}
section.formulario-enviado .texto-enviado p{
    font: 300 18px var(--Roboto); color: var(--cinza-dark);
    padding-top: 15px;
}
section.formulario-enviado .texto-enviado button{
    padding: 10px 50px; margin-top: 30px; background-color: var(--laranja); color: white; border: 1px solid transparent; font: 400 15px var(--Roboto);transition: .4s ease-in-out; cursor: pointer;
}
section.formulario-enviado .texto-enviado a button:hover{
    background-color: transparent; border: 1px solid var(--laranja); color: var(--laranja);
}
/* ====================== FIM FORMULÁRIO ENVIADO ======================= */


/* ================== MEDIA QUERY (MAX-WIDTH: 600px) =================== */
@media screen and (max-width: 600px){
    section.formulario-enviado .texto-enviado span{
        font-size: 30px;
    }
}
/* ================ FIM MEDIA QUERY (MAX-WIDTH: 600px) ================= */