@charset "utf-8";
/* ====================== FIM CONFIGURAÇÃO UNICODE ===================== */

/* ========================= FONTES IMPORTADAS ========================= */
@import url(https://fonts.googleapis.com/css?family=Nunito:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
/* ======================= FIM FONTES IMPORTADAS ======================= */


/* ======================= CONFIGURAÇÕES GLOBAIS ======================= */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    line-height: 1.5em;
}
/* ===================== FIM CONFIGURAÇÕES GLOBAIS ===================== */


/* =============================== BODY ================================ */
body {
    width: 100vw;
    overflow-x: hidden;
}
/* ============================= FIM BODY ============================== */


/* =============================== ROOT ================================ */
:root {
    /* Variáveis da cor azul */
    --azure: #E8F1F3;
    --carolina_blue: #1C9CD7;
    --celadon_blue: #247BA0;
    --sapphire_blue: #014990;
    --prussian_blue: #002F5B;
    --índigo_blue: #001030;
    --space: #010b1c;
    /* Variável da cor vermelha */
    --medium_red: #A20202;
    --vermelho: #ff0000;
    --tomate: #FF814D;
    --laranja: #ff5900;
    /* Variáveis da cor verde */
    --verde-azulado: #009a9f;
    --verde: #30EA66;
    --amarelo: #FCBF02;
    --cinza-clarinho: #F8F8F8;
    --azul-claro: #6E93f7;
    --azul-claro2: #4070F4;
    --winter: #A1E1F6;
    /* Variável da cor cinza */
    --cinza: #424242;
    --cinza-claro: #F2F2F2;
    --cinza-medio: #A9A9A9;
    --cinza-dark: #333333;
    --cinza-escuro: #171717;
    /* Variáveis das fontes */
    --Nunito: 'Nunito', sans-serif;
}
/* ============================= FIM ROOT ============================== */


/* =========================== BANNER LGPD ============================= */
.banner-lgpd {
    width: 100%;
    margin: 0 auto;
    height: 50vh;
}
.lgpd-parallax{
    display: flex;
    height: 50vh ;
    width: auto;
    position: relative;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background-image: url('../img/lgpd2.png');
    background-position: 80% 150% ;
    background-repeat: no-repeat;
    background-attachment: fixed; /* cria o efeito parallax */
    background-size: cover;
}
.lgpd-parallax::before {
    content:"";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 0;
    background: rgba(1, 4, 22, 0.625)
}
.texto-lgpd{
    z-index: 2;
    position: absolute;
    top: 50%;
}
.texto-lgpd h1{
    font: 700 40px var(--Nunito);
    color: white; 
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.397);
    text-align: center;
}
/* ========================= FIM BANNER LGPD =========================== */


/* ============================ POLÍTICA =============================== */
section.politica{
    width: 90vw;
    margin: 50px auto;
}
.politica-privacidade{
    position: relative;
    background: #fff;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.08);
    border-radius: 15px;
    padding: 30px;
    margin: auto;
    width: 100%;
    font-family: var(--Nunito);
    box-sizing: border-box;
    text-align: left;
}
.politica-privacidade h1 {
    font: 700 23px var(--Nunito); 
    color: var(--space);
    line-height: 35px;
    margin: 4px 0 10px;
}
.politica-privacidade h2{
    font: 700 22px var(--Nunito); color: var(--space);
    margin-bottom: 15px;
}
.politica-privacidade p, .politica-privacidade ul{
    font: 400 16px var(--Nunito); color: var(--cinza);
    line-height: 1.7rem;
    margin-bottom: 20px;
}
.politica-privacidade p a{
    text-decoration: underline; color: var(--sapphire_blue);
}
.politica-privacidade h3{
    font: 700 20px var(--Nunito); color: var(--space);
    margin-bottom: 15px;
}
.politica-privacidade span{
    font: 700 16px var(--Nunito); color: var(--space);
    padding-bottom: 15px;
}
.politica-privacidade ul li{
    line-height: 1.7rem; list-style: disc; margin-left: 30px;
    margin-bottom: 8px;
}
h2.mais-info{
    font: 700 20px var(--Nunito); color: var(--space);
}
.politica-privacidade span.data-vigor{
    color: var(--cinza-escuro); font: 700 17px var(--Nunito)
}
/* ========================== FIM POLÍTICA ============================= */


/* ================== MEDIA QUERY (MAX-WIDTH: 600px) =================== */
@media screen and (max-width: 600px) {
    .politica-privacidade h1, .politica-privacidade h2, .politica-privacidade h3{
        font: 700 18px var(--Nunito);
    }
}
/* ================ FIM MEDIA QUERY (MAX-WIDTH: 600px) ================= */


/* ================= MEDIA QUERY (MAX-WIDTH: 1200px) =================== */
@media (max-width: 1200px) {
    section.politica .politica-privacidade ul li{
        margin-left: 20px;
    }
}
/* ================= MEDIA QUERY (MAX-WIDTH: 1200px) =================== */