@charset "utf-8";
/* ====================== FIM CONFIGURAÇÃO UNICODE ===================== */
/* ========================= FONTES IMPORTADAS ========================= */
@import url(https://fonts.googleapis.com/css?family=Nunito:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
/* ======================= FIM FONTES IMPORTADAS ======================= */
/* ======================= CONFIGURAÇÕES GLOBAIS ======================= */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    line-height: 1.5em;
}
/* ===================== FIM CONFIGURAÇÕES GLOBAIS ===================== */
/* =============================== BODY ================================ */
body {
    width: 100vw;
    overflow-x: hidden;
}
/* ============================= FIM BODY ============================== */
/* =============================== ROOT ================================ */
:root {
    /* Variáveis da cor azul */
    --azure: #E8F1F3;
    --azul: #0346F2;
    --carolina_blue: #1C9CD7;
    --celadon_blue: #247BA0;
    --sapphire_blue: #014990;
    --prussian_blue: #002F5B;
    --índigo_blue: #001030;
    --space: #010b1c;
    /* Variável da cor vermelha */
    --vermelho: #DA251C;
    --medium_red: #A20202;
    --tomate: #FF814D;
    /* Variáveis da cor verde */
    --verde-azulado: #009a9f;
    --verde: #30EA66;
    --laranja: #F28116;
    --amarelo: #FCBF02;
    --cinza-clarinho: #F8F8F8;
    --azul-claro: #6E93f7;
    --azul-claro2: #4070F4;
    --winter: #A1E1F6;
    /* Variável da cor cinza */
    --cinza: #424242;
    --cinza-claro: #F2F2F2;
    --cinza-medio: #A9A9A9;
    --cinza-dark: #333333;
    --cinza-escuro: #171717;
    /* Variável da cor roxa */
    --roxo: #431096;
    --roxo2: #26003E;
    /* Variável da cor rosa */
    --rosa: #EE2C68;
    /* Variável da cor marrom */
    --marrom: #C97F66;
    /* Variáveis das fontes */
    --Nunito: 'Nunito', sans-serif;
}
/* ============================= FIM ROOT ============================== */
/* ========================= CARROSSEL BANNER ========================== */
.slider {
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.slides {
    width: 400%;
    height: 100%;
    display: flex;
}
.slides input {
    display: none;
}
.slide {
    width: 100vw;
    height: 100vh;
    left: 0;
    position: relative;
    transition: 1s;
}
.slide img {
    /* Sempre levar em consideração o tamanho original da imagem e da tela */
    height: 100%;
    width: 100%;
}
.manual-navigation {
    position: absolute;
    width: 100vw;
    margin-top: -7vh;
    display: flex;
    justify-content: center;
}
.manual-btn {
    border: 2.3px solid white;
    padding: 7px;
    border-radius: 50%;
    cursor: pointer;
    transition: .7s;
}
.manual-btn:not(:last-child) {
    margin-right: 2vw;
}
.manual-btn:hover {
    background-color: white;
}
#radio1:checked~.first {
    margin-left: 0;
}
#radio2:checked~.first {
    margin-left: -100vw;
}
#radio3:checked~.first {
    margin-left: -200vw;
}
.navigation-auto div {
    border: 2.3px solid white;
    padding: 7px;
    border-radius: 50%;
    cursor: pointer;
    transition: .7s;
}
.navigation-auto {
    position: absolute;
    width: 100vw;
    margin-top: 93vh;
    display: flex;
    justify-content: center;
}
.navigation-auto div:not(:last-child) {
    margin-right: 2vw;
}
#radio1:checked~.navigation-auto .auto-btn1 {
    background-color: white;
}
#radio2:checked~.navigation-auto .auto-btn2 {
    background-color: white;
}
#radio3:checked~.navigation-auto .auto-btn3 {
    background-color: white;
}
/* ======================= FIM CARROSSEL BANNER ======================== */
/* ======================== NOSSOS COMPROMISSOS ======================== */
.Nossos_compromissos {
    position: relative;
    height: 380px;
    width: 100vw;
    justify-content: center;
}
.intro_compromissos {
    display: flex;
    width: 100vw;
    justify-content: center;
    height: 70%;
    background-color: var(--space);
}
.flex-intro {
    position: absolute;
    flex-wrap: wrap;
    align-content: center;
    width: 76vw;
    height: 35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.intro_compromissos h1 {
    color: white;
    font: 700 30px var(--Nunito);
}
.intro_compromissos button {
    padding: 15px 35px;
    background-color: white;
    color: var(--space);
    border: transparent;
    border-radius: 3px;
    font: 700 17px var(--Nunito);
    transition: .4s;
    cursor: pointer;
}
.intro_compromissos button:hover {
    background-color: transparent;
    color: white;
    border: 1px solid white;
}
@media (max-width:720px) {
    .swiper {
        width: 90%;
    }
}
.mySwiper {
    width: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -30%);
}
.swiper-slide {
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.06);
    width: 100%;
    max-height: 210px;
}
.swiper-slide a img {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swiper-slide span {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #00000094 100%);
    font: 400 16px var(--Nunito);
    color: white;
    text-shadow: 0 0 10px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    padding: 0 10px 20px;
    box-sizing: border-box;
}
/* ====================== FIM NOSSOS COMPROMISSOS ======================= */
/* ============================== SERVIÇOS ============================== */
.servicos {
    height: auto;
    margin: 20px 0 50px 0;
}
.texto_servico h1 {
    text-align: center;
    font: 700 30px var(--Nunito);
    color: var(--índigo_blue);
    margin: 0 0 25px 0;
    z-index: 2;
}
.servicos-ctn {
    z-index: 4;
}
.flex-servicos {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}
.flex-servicos img {
    width: auto;
    height: auto;
    margin: 10px;
    max-width: 100%;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.08);
    border-radius: 15px;
}
.flex-container {
    width: 550px;
    margin: 10px 25px;
    align-items: baseline;
}
section.servicos details {
    padding: 0;
    background-color: white;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.08);
    cursor: pointer;
}
section.servicos details:not(:last-child) {
    margin-bottom: 19px;
}
section.servicos details p {
    font: 500 17px var(--Nunito);
    line-height: 1.5em;
    padding: 8px 20px;
    text-align: left;
}
section.servicos details summary {
    padding: 15px 30px;
    transition: .3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
section.servicos details summary .ttn {
    transition: .3s ease-in-out;
}
section.servicos details[open] summary .ttn {
    color: white;
}
section.servicos details summary:hover .ttn {
    color: white;
}
section.servicos details summary h2 i {
    margin-right: 20px;
}
section.servicos details summary h2 {
    font: 700 20px var(--Nunito);
}
section.servicos details[open] summary,
section.servicos details summary:hover {
    background-color: var(--verde-azulado);
    color: white;
}
section.servicos .fa.fa-briefcase {
    color: var(--roxo2);
}
section.servicos .fa-solid.fa-users {
    color: var(--celadon_blue);
}
section.servicos .fas.fa-building {
    color: var(--verde-azulado);
}
section.servicos .fa.fa-shield {
    color: var(--laranja);
}
.fa.fa-heartbeat {
    color: var(--rosa);
}
section.servicos details[open] summary .fa-solid.fa-chevron-up {
    transform: rotate(180deg);
}
/* ============================ FIM SERVIÇOS ============================ */
/* ========================= CONTAINER PARALLAX ========================= */
.container-parallax {
    width: 100%;
    margin: 0 auto;
}
section.module span {
    font: 700 12px var(--Nunito);
    letter-spacing: .340em;
    text-transform: uppercase;
    color: white;
    margin: 0 auto 10px auto;
    z-index: 2;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.308);
}
section.module h1 {
    width: 700px;
    font: 700 30px var(--Nunito);
    color: white;
    z-index: 2;
    margin: 0 auto;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.308);
}
section.module a {
    z-index: 2;
    text-align: center;
}
section.module a button {
    margin: 45px auto 0 auto;
    color: var(--cinza-dark);
    background-color: var(--amarelo);
    padding: 23px 36px;
    border: 1px solid transparent;
    transition: all .5s;
    font: 500 14px var(--Nunito);
    letter-spacing: 5px;
}
section.module a button:hover {
    background-color: transparent;
    color: white;
    border: 1px solid white;
}
section.module:last-child {
    margin-bottom: 0;
}
section.module.parallax {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 55vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-image: url(../img/parallax.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* cria o efeito parallax */
    background-size: cover;
    -webkit-background-size: cover;
    /* para ser funcional em outros navegadores */
    -moz-background-size: cover;
    -a-background-size: cover;
}
@media (max-width:720px){
    section.module.parallax{
    background-image: url(../img/Parallax\ -mobile.png);
    background-attachment: local;
    }
}
section.module.parallax::after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    background: -moz-linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #00000094 100%);
    background: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0) 0% #00000094 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #00000094 100%);
}
/* ======================= FIM CONTAINER PARALLAX ======================= */
/* ================================ FAQ ================================ */
.faq {
    margin: 40PX 5vw;
    color: var(--índigo_blue);
}
.text_faq {
    text-align: center;
    margin-bottom: 30px;
    color: var(--space);
    font: 700 30px var(--Nunito);
}
.summary_faq {
    background-color: var(--cinza-claro);
    border: solid 1px #F0F0F0;
    border-radius: 25px;
    cursor: pointer;
}
details {
    padding: 20px;
    margin: 5px;
}
details summary {
    font: 600 18px var(--Nunito);
    color: var(--cinza);
    align-items: center;
}
.summary_faq details i {
    margin-right: 20px;
    color: var(--cinza-medio);
    transition: .5s ease;
}
details[open] summary .fa-plus {
    transform: rotate(45deg);
}
details p {
    padding: 20px 20px 0;
    font: 400 17px var(--Nunito);
    color: var(--cinza);
    text-align: left;
    line-height: 1.7em;
    text-indent: 1.25em;
}
.faq hr {
    margin: 0 10px;
    border-top: 2px solid #ECECEC;
}
details ol {
    padding: 20px 20px 0 35px;
    list-style-type: none;
}
details ol li {
    font: 400 17px var(--Nunito);
    color: var(--cinza);
    list-style: decimal;
}
details ol li p {
    padding: 5px 0;
    line-height: 1.5em;
    text-align: left;
}
/* ============================== FIM FAQ ============================== */
/* =========================== ÍCONE SOCIAL =========================== */
.whatsapp {
    position: fixed;
    z-index: 3;
    font-size: 40px;
    color: white;
    bottom: 20px;
    right: 20px;
    filter: drop-shadow(0 0 10px #00000013);
    transition: opacity .3s ease-in-out;
}
.whatsapp i {
    background-color: var(--verde);
    padding: 15px;
    border-radius: 100%;
    transition: all .3s;
}
/* ========================= FIM ÍCONE SOCIAL ========================= */
/* ============================= COOKIES ============================== */
.popup {
    display: none;
}
.popup.exibir {
    display: block;
}
.cookies {
    width: 100vw;
    height: auto;
    background-color: var(--space);
    position: fixed;
    z-index: 10;
    bottom: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cookies .cookies-mensagem {
    margin: 40px 0 40px 40px;
    width: 72%;
}
.cookies .cookies-mensagem .flex-cookies-msg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    font: 600 18px var(--Nunito);
    color: white;
}
.cookies .cookies-mensagem .flex-cookies-msg i.fa-solid.fa-plus.mbl {
    display: none;
}
.cookies .cookies-mensagem .flex-cookies-msg i,
.cookies .cookies-button i.fa-solid.fa-plus.dsktp {
    transform: rotate(45deg);
    color: var(--space);
    padding: 5px 6px;
    border-radius: 35px;
    background-color: var(--cinza-clarinho);
    cursor: pointer;
}
.cookies .cookies-mensagem .flex-cookies-msg .titulo-cookies {
    display: flex;
}
.cookies .cookies-mensagem .flex-cookies-msg .titulo-cookies span {
    margin-left: 15px;
}
.cookies .cookies-mensagem .flex-cookies-msg .titulo-cookies img {
    width: auto;
    height: 30px;
}
.cookies .cookies-mensagem p {
    font: 300 16px var(--Nunito);
    line-height: 1.75em;
    color: white;
}
.cookies .cookies-mensagem p a {
    color: white;
    border-bottom: 1px solid white;
    cursor: pointer;
}
.cookies .cookies-button {
    text-align: center;
    margin: 0 40px;
}
.cookies .cookies-button button {
    padding: 10px 80px;
    border: 1px solid transparent;
    background-color: var(--azul);
    color: white;
    font: 500 16px var(--Nunito);
    transition: .2s;
}
.cookies .cookies-button button:hover {
    transform: scale(1.01);
}
.cookies .cookies-button i.fa-solid.fa-plus.dsktp {
    display: inline;
    position: absolute;
    top: 25px;
    right: 45px;
}
/* =========================== FIM COOKIES ============================ */
/* ================== MEDIA QUERY (MAX-WIDTH: 767px) ================== */
@media (max-width: 767px) {
    h1 {
        font: 700 22px var(--Nunito) !important;
    }
    h2 {
        font: 600 18px var(--Nunito) !important;
    }
    p {
        font: 400 16px var(--Nunito) !important;
    }
    .swiper {
        width: 90% !important;
    }
    .slide img {
        width: 100vw;
        overflow: hidden;
        object-fit: cover;
    }
    .texto_sobreposto img {
        display: none;
    }
    .texto_sobreposto h1 {
        width: 100%;
        margin: 40px;
        font-size: 30px;
    }
    .botao {
        margin-left: 40px;
    }
    .flex-intro {
        width: 100vw;
        height: auto;
        top: 10%;
        justify-content: center;
    }
    .intro_compromissos .flex-intro h1 {
        width: 100vw;
        text-align: center;
        margin: 0px 10px 25px 10px;
    }
    .swiper {
        width: 100%;
        height: 50%;
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    section h1.titulo-secao,
    .container-wrapper h1.titulo-secao {
        font-size: 30px;
    }
    section.servicos h1.titulo-secao {
        margin: 25px;
    }
    .module.parallax span {
        letter-spacing: .280em;
        margin-bottom: 30px;
    }
    .module.parallax h1.titulo-secao {
        width: auto;
        text-align: center;
        margin: 0 10px;
    }
    :focus {
        outline: none;
    }
    .cookies {
        flex-wrap: wrap;
    }
    .cookies .cookies-mensagem .flex-cookies-msg i.fa-solid.fa-plus.mbl {
        display: block;
    }
    .cookies .cookies-button i.fa-solid.fa-plus.dsktp {
        display: none;
    }
    .cookies .cookies-mensagem {
        margin: 40px;
        width: auto;
    }
    .cookies .cookies-button {
        margin: 0 40px;
    }
    .cookies .cookies-button button {
        padding: 10px 140px;
        margin-bottom: 40px;
    }
}
/* ================ FIM MEDIA QUERY (MAX-WIDTH: 767px) ================ */
/* ========================== SCROLL REVEAL ========================== */
.swiper-wrapper,
.flex-intro,
.servicos,
.titulo-secao,
.btn-secao,
.summary_faq,
.cookies {
    visibility: hidden;
}
/* ======================== FIM SCROLL REVEAL ======================== */