@charset "utf-8";
/* ====================== FIM CONFIGURAÇÃO UNICODE ===================== */

/* ========================= FONTES IMPORTADAS ========================= */
@import url('https://fonts.googleapis.com/css2? family= Allura & family= Aref+Ruqaa+Ink:wght@400;700 & family= Cookie & family= Roboto:wght@300; 400;700 & display=swap');
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:200,200italic,300,300italic,regular,italic,600,600italic,700,700italic,900);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
/* ======================= FIM FONTES IMPORTADAS ======================= */


/* ======================= CONFIGURAÇÕES GLOBAIS ======================= */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    line-height: 1.5em;
}
/* ===================== FIM CONFIGURAÇÕES GLOBAIS ===================== */


/* =============================== BODY ================================ */
body {
    width: 100vw;
    overflow-x: hidden;
}
/* ============================= FIM BODY ============================== */


/* =============================== ROOT ================================ */
:root {
    /* Variáveis da cor azul */
    --azure: #E8F1F3;
    --carolina_blue: #1C9CD7;
    --celadon_blue: #247BA0;
    --sapphire_blue: #014990;
    --prussian_blue: #002F5B;
    --índigo_blue: #001030;
    --space: #010b1c;
    /* Variável da cor vermelha */
    --medium_red: #A20202;
    --vermelho: #ff0000;
    --tomate: #FF814D;
    --laranja: #ff5900;
    /* Variáveis da cor verde */
    --verde-azulado: #009a9f;
    --verde: #30EA66;
    --amarelo: #FCBF02;
    --cinza-clarinho: #F8F8F8;
    --azul-claro: #6E93f7;
    --azul-claro2: #4070F4;
    --winter: #A1E1F6;
    /* Variável da cor cinza */
    --cinza: #424242;
    --cinza-claro: #F2F2F2;
    --cinza-medio: #A9A9A9;
    --cinza-dark: #333333;
    --cinza-escuro: #171717;
    /* Variáveis das fontes */
    --Roboto: 'Roboto', sans-serif;
    --Allura: 'Allura', sans-serif;
    --Titillium: 'Titillium Web';
    --Poppins: 'Poppins';
}
/* ============================= FIM ROOT ============================== */


/* ========================== BANNER TERMOS ============================ */
.banner-termos {
    width: 100%;
    margin: 0 auto;
    height: 50vh;
}
.termos-parallax{
    display: flex;
    height: 50vh ;
    width: auto;
    position: relative;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background-image: url('../img/terms.png');
    background-position: 50% -38vh;
    background-repeat: no-repeat;
    background-attachment: fixed; /* cria o efeito parallax */
    background-size: cover;
    -webkit-background-size:cover ; /* para ser funcional em outros navegadores */
    -moz-background-size: cover;
    -a-background-size:cover;
}
.termos-parallax::before {
    content:"";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 0;
    background: rgba(4, 12, 48, 0.625)
}
.texto-termos{
    z-index: 2;
    position: absolute;
    top: 50%;
}
.texto-termos h1{
    font: 400 50px var(--Poppins);
    color: white; 
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.397);
}
/* ======================== FIM BANNER TERMOS ========================== */


/* ============================ POLÍTICA =============================== */
section.politica{
    width: 100vw;
}
.termos-uso{
    margin: 90px auto;
    width: 75vw;
    font-family: var(--Roboto);
}
.termos-uso h1{
    font: 400 23px var(--Roboto); color: var(--cinza-escuro);
}
.termos-uso p, .termos-uso ul{
    font: 300 18px var(--Roboto); color: black; text-align: justify;
}
.termos-uso p a{
    text-decoration: underline; color: var(--sapphire_blue);
}
.termos-uso h1, .termos-uso p, .termos-uso ul, .termos-uso h2 {
    margin-bottom: 20px; 
    line-height: 1.5em;
}
.termos-uso ul li{
    line-height: 1.75em; list-style: decimal; margin-left: 60px;
}
h2.mais-info{
    font: 400 20px var(--Roboto); color: var(--cinza-escuro);
}
/* ========================== FIM POLÍTICA ============================= */


/* ================== MEDIA QUERY (MAX-WIDTH: 600px) =================== */
@media screen and (max-width: 600px) {
    .banner-termos, .termos-parallax{
        height: 40vh;
    }
    .termos-parallax{
        background-position: 40% 50%
    }
    .texto-termos h1{
        font-size: 35px;
    }
    section.politica .termos-uso{
        margin: 40px auto;
    }
}
/* ================ FIM MEDIA QUERY (MAX-WIDTH: 600px) ================= */


/* ================= MEDIA QUERY (MAX-WIDTH: 1200px) =================== */
@media (max-width: 1200px) {
    section .termos-uso{
        width: 85vw; word-break: keep-all; 
    }
    section.politica .termos-uso ul li{
        margin-left: 20px;
    }
}
/* ============== FIM MEDIA QUERY (MAX-WIDTH: 1200px) ================== */