@charset "utf-8";
/* ====================== FIM CONFIGURAÇÃO UNICODE ===================== */
/* ========================= FONTES IMPORTADAS ========================= */
@import url(https://fonts.googleapis.com/css?family=Nunito:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
/* ======================= FIM FONTES IMPORTADAS ======================= */
/* ======================= CONFIGURAÇÕES GLOBAIS ======================= */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    line-height: 1.5em;
}
/* ===================== FIM CONFIGURAÇÕES GLOBAIS ===================== */
/* =============================== BODY ================================ */
body {
    width: 100vw!important;
    overflow-x: hidden;
}
/* ============================= FIM BODY ============================== */
/* =============================== ROOT ================================ */
:root {
    /* Variáveis da cor azul */
    --azure: #E8F1F3;
    --carolina_blue: #1C9CD7;
    --celadon_blue: #247BA0;
    --sapphire_blue: #014990;
    --prussian_blue: #002F5B;
    --índigo_blue: #001030;
    --space: #010b1c;
    /* Variável da cor vermelha */
    --medium_red: #A20202;
    --vermelho: #ff0000;
    --tomate: #FF814D;
    --laranja: #ff5900;
    /* Variáveis da cor verde */
    --verde-azulado: #009a9f;
    --verde: #30EA66;
    --amarelo: #FCBF02;
    --cinza-clarinho: #F8F8F8;
    --azul-claro: #6E93f7;
    --azul-claro2: #4070F4;
    --winter: #A1E1F6;
    /* Variável da cor cinza */
    --cinza: #424242;
    --cinza-claro: #F2F2F2;
    --cinza-medio: #A9A9A9;
    --cinza-dark: #333333;
    --cinza-escuro: #171717;
    /* Variáveis das fontes */
    --Nunito: 'Nunito', sans-serif;
}
/* ============================= FIM ROOT ============================== */
/* ========================== BANNER TERMOS ============================ */
.banner-termos {
    width: 100%;
    margin: 0 auto;
    height: 50vh;
}
.termos-parallax {
    display: flex;
    height: 50vh;
    width: auto;
    position: relative;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background-image: url('../img/terms.png');
    background-position: 50% -38vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* cria o efeito parallax */
    background-size: cover;
}
.termos-parallax::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 0;
    background: rgba(4, 12, 48, 0.625)
}
.texto-termos {
    z-index: 2;
    position: absolute;
    top: 50%;
}
.texto-termos h1 {
    font: 700 40px var(--Nunito);
    color: white;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.397);
}
/* ======================== FIM BANNER TERMOS ========================== */
/* ============================ POLÍTICA =============================== */
section.politica {
    width: 90vw;
    margin: 50px auto;
}
.termos-uso {
    position: relative;
    background: #fff;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.08);
    border-radius: 15px;
    padding: 30px;
    margin: auto;
    width: 100%;
    font-family: var(--Nunito);
    box-sizing: border-box;
    text-align: left;
}
.termos-uso h1 {
    font: 700 23px var(--Nunito);
    color: var(--space);
    line-height: 35px;
    margin: 4px 0 10px;
}
.termos-uso h2 {
    font: 700 22px var(--Nunito);
    color: var(--space);
    margin-bottom: 15px;
}
.termos-uso p,
.termos-uso ul {
    font: 400 16px var(--Nunito);
    color: var(--cinza);
    line-height: 1.7rem;
    margin-bottom: 20px;
}
.termos-uso p a {
    text-decoration: underline;
    color: var(--sapphire_blue);
}
.termos-uso h3 {
    font: 700 20px var(--Nunito);
    color: var(--space);
    margin-bottom: 15px;
}
.termos-uso ul li {
    line-height: 1.7rem;
    list-style: disc;
    margin-left: 30px;
    margin-bottom: 8px;
}
h2.mais-info {
    font: 700 20px var(--Nunito);
    color: var(--space);
}
/* ========================== FIM POLÍTICA ============================= */
/* ================== MEDIA QUERY (MAX-WIDTH: 600px) =================== */
@media screen and (max-width: 600px) {
    .termos-uso h1,
    .termos-uso h2,
    .termos-uso h3 {
        font: 700 18px var(--Nunito);
    }
}
/* ================ FIM MEDIA QUERY (MAX-WIDTH: 600px) ================= */
/* ================= MEDIA QUERY (MAX-WIDTH: 1200px) =================== */
@media (max-width: 1200px) {
    section.politica .termos-uso ul li {
        margin-left: 20px;
    }
}
/* ============== FIM MEDIA QUERY (MAX-WIDTH: 1200px) ================== */